{% extends "base.html" %}
{% load static %}
{% block title %} about {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'about.css' %}">
{% endblock stylesheet %}
{% block content %}
    <div class='container'>
        <div class='content'>
            <div class='left'>
                <img src='{% static "img/ryanMode.jpg"%}' height="300px" width="300px" alt="potrate image">
            </div>
            <div class='right'>
                <p class="heading"> SURNNAME </p>  <p class="data">HENRY </p>
                <p class="heading"> GIVEN NAME </p><p class="data">RYAN NJOROGE</p>
                <p class="heading"> NICKNAME</p>   <p class="data">KAPARO</p>
                <p class="heading">AGE  </p>       <p class="data">PREFER NOT TO SAY </p>
                <p class="heading">GENDER </p>     <p class="data">IT</p>
                <p class="heading">NATIONALITY</p> <p class="data">KENYAN </p>
                <p class="heading">COUNTRY OF ORIGIN</p><p class="data">KENYA</p>   
            </div>
        </div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit aut ut modi expedita. Labore tempora odit ipsam saepe soluta pariatur minus maiores ipsa assumenda, quia, deserunt eos alias et dolorum.
        Minima reprehenderit magni repudiandae reiciendis exercitationem ab, debitis nostrum voluptatibus eum obcaecati at veritatis eius doloribus alias illum accusamus sapiente adipisci architecto provident aliquid! Qui aspernatur dolorem totam illum vero.
        Eveniet deserunt fuga voluptate nihil sed tenetur vitae eaque perferendis exercitationem ipsum, molestias error ullam officiis soluta autem vel quibusdam dolore optio earum porro? Adipisci nesciunt similique beatae tempore reprehenderit.
        Eaque at dolores, doloremque quam exercitationem velit. Aperiam qui perferendis impedit facilis rerum quod illo natus dolorum soluta rem reprehenderit enim voluptatum quam commodi eum, minima excepturi quia, iste ab!
        Accusamus magni sit eveniet praesentium dolorum, doloremque est ut. Similique amet numquam officiis consectetur explicabo, harum expedita cumque molestiae, magni corrupti omnis asperiores natus animi blanditiis recusandae? Porro, quos voluptas.
        Quidem eaque dicta libero aperiam suscipit quae aspernatur. Inventore, sint fugiat minus nulla officia facere aliquid optio, dicta harum incidunt consequatur. Rem laborum amet minima, possimus quae qui tempore consequatur?
        Doloribus exercitationem nihil reiciendis nesciunt mollitia porro explicabo debitis sunt at totam modi soluta perspiciatis eius similique optio unde, sequi, quibusdam commodi ipsa aperiam cupiditate autem. Laudantium odio iure eos?
        Dolor vero architecto consequuntur vitae corporis, laudantium blanditiis adipisci a tenetur ducimus quae, fugit voluptatem iste eaque repellat vel culpa illo ea deleniti ex? Itaque culpa minus quia beatae ut!
        Voluptatum nostrum ut rem, ab consectetur laudantium modi saepe beatae exercitationem deserunt quaerat, eius mollitia laboriosam ratione, eveniet provident cupiditate aliquid dolor. Eaque, sint quam! Fugiat illo inventore eos omnis.
        Sapiente odit asperiores, praesentium pariatur provident magni repudiandae vitae ratione aliquid voluptate rerum possimus sunt nisi necessitatibus molestiae modi velit soluta voluptatibus. Eos cupiditate delectus ex illum veniam, nostrum voluptatibus.
    </div>
{% endblock %}