{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Njoro's Portfolio {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block stylesheet %}
    {% endblock stylesheet %}
</head>
<body>
    <header>
        <nav>
            <ul id="menuBar">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                <li><a href="{% url 'hit_me_up' %}">HMU</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; KAPARO</p>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>