h1{
    text-decoration: underline dotted;
}
.content{
    display: flex;
    justify-content: center;
}

.heading{
    font-size: x-small;
    margin-block: 0;
    font-weight: 600;
}
.right{
    display : flex;
    flex-direction: column;
    padding-top: 2rem;
}

.data{
    font-size:large;
    font-weight: bolder;
}